@media screen and (max-width: 37.5em) {
  .responsive-masthed {
    width: 23rem !important;
    opacity: 1 !important; 
    overflow-y: scroll;
    
  }

  .d-none-md{
    color: #fff;
    display: none;
    visibility: hidden;
    opacity: 0;
  }   
  
  
  
  .main-navigation__resources--dropdown{
      width: 100%;
      display: block;
      transform: scaleY(1);
      margin-bottom: 7rem;
      background-color: #333;
      box-shadow: none;
  }


  .mobile-nav__slidein{
    animation-name: moveInNAv;
    animation-duration: .3s;
    animation-fill-mode: backwards;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    backface-visibility: hidden;
  }
  .slidein000{
    animation-delay: .1s;
  }
  .slidein001{
    animation-delay: .2s;
  }
  .slidein002{
    animation-delay: .3s;
  }
  .slidein003{
    animation-delay: .4s;
  }
  .slidein004{
    animation-delay: .5s;
  }
  .slidein005{
    animation-delay: .6s;
  }
  .slidein006{
    animation-delay: .7s;
  }
  .slidein007{
    animation-delay: .8s;
  }
  .slidein008{
    animation-delay: .9s;
  }
  .slidein009{
    animation-delay: 1s;
  }




}



@keyframes moveInNAv {
  0% {
    opacity: 0;
    transform: translateX(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }