
/*POST CONTENT*/
.blog-single__content {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box ;
    padding-right: 1rem ; }
    

    .blog-single__content p {
      line-height: 3rem ;
      margin-bottom: 1.5rem ;
      display: inline-block; }
      @media screen and (max-width: 37.5em) {
        .blog-single__content p {
          line-height: 2.5rem ; } }
    .blog-single__content h1 {
      font-weight: 600;
      font-size: 3rem ;
      margin-bottom: 1.5rem ; }
      @media screen and (max-width: 37.5em) {
        .blog-single__content h1 {
          font-size: 2.5rem ; } }
    .blog-single__content h2 {
      font-size: 2.5rem ;
      font-weight: 600;
      margin-bottom: 1.2rem ; }
      @media screen and (max-width: 37.5em) {
        .blog-single__content h2 {
          font-size: 2rem ; } }
    .blog-single__content h3 {
      font-size: 2rem ;
      font-weight: 600;
      margin-bottom: 1rem ; }
      @media screen and (max-width: 37.5em) {
        .blog-single__content h3 {
          font-size: 1.5rem ; } }
    .blog-single__content h4, .blog-single__content h5, .blog-single__content h6 {
      font-size: 1.5rem ;
      font-weight: 600;
      margin-bottom: 1rem ; }
      @media screen and (max-width: 37.5em) {
        .blog-single__content h4, .blog-single__content h5, .blog-single__content h6 {
          font-size: 1rem ; } }
    .blog-single__content strong {
      font-weight: 600 ; }
    .blog-single__content em {
      font-style: italic ; }
    .blog-single__content u {
      text-decoration: underline ; }
    .blog-single__content a {
      display: inline-block ;
      background-color: rgba(119, 119, 119, 0.6) ;
      padding: 1rem 4rem ;
      transition: all .3s ease-out ;
      cursor: pointer ;
      color: #333 ; 
      border-radius: .5rem;

    }
      .blog-single__content a u {
        text-decoration: none ; }
      .blog-single__content a:hover {
        padding: 1rem 4rem  1rem 5rem;
        box-shadow: 0 0 1rem rgba(#777, .5);
       }
    .blog-single__content blockquote {
      margin: 2rem 5rem ;
      line-height: 3rem;
      position: relative; }
      @media screen and (max-width: 37.5em) {
        .blog-single__content blockquote {
          margin: 2rem 2rem ;
          line-height: 2.5rem; } }
      .blog-single__content blockquote::before {
        content: "";
        display: block;
        position: absolute;
        width: 1.5px;
        height: 100%;
        background-color: rgba(119, 119, 119, 0.6);
        transform: translateX(-2rem); }
    .blog-single__content ol, .blog-single__content ul {
      margin-left: 2rem; }
      .blog-single__content ol > :not(:last-child), .blog-single__content ul > :not(:last-child) {
        margin-bottom: 2rem ; }
    .blog-single__content ul {
      list-style-type: disc ; }
    .blog-single__content img {
      width: 100% ;
      height: 100% ;
      margin: 1.5rem 0 ; }
    .blog-single__content iframe {
      width: 100% ;
      height: 30rem ;
      margin: 1.5rem 0 ; }
  