
/*single blog-post*/

  
.blog-single__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start; }
    @media screen and (max-width: 37.5em) {
      .blog-single__container {
        flex-direction: column; } }
  .blog-single__card {
    flex: 2;
    margin-right: 10rem; 
  box-sizing: border-box;}
    @media screen and (max-width: 37.5em) {
      .blog-single__card {
        margin-right: 0; 
      width: 100%;} }
    .blog-single__card--image {
      overflow: hidden; }
      .blog-single__card--image-img {
        width: 100%; }
    .blog-posts-single-img{
      margin-bottom: 2rem;
    }
    .blog-single__card--text-heading {
      font-size: 3rem;
      font-weight: 700;
      margin-top: 2rem;
    color: #162a4e; }
      @media screen and (max-width: 37.5em) {
        .blog-single__card--text-heading {
          font-size: 2rem; } }
    .blog-single__card--text-excerpt {
      margin: 2rem 0; }
    .blog-single__card--text-author {
      font-weight: 600;
      color: #162a4ecc; }
    .blog-single__card--text-date {
      color: #162a4ecc;
      margin: 1rem 0 4rem 0;
      font-size: 1.2rem; }

.blog-single__button {
  margin: 4rem 0; }
  .blog-single__button p {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-color: #fff;
    padding: 1rem 3rem;
    border-radius: .5rem;
    transition: all .3s ease-out;
    color: #162a4ecc;
    background-color: rgba(#777, .4);
    cursor: pointer; }
    .blog-single__button p:hover {
      box-shadow: 0 0rem .8rem rgba(#777, .5);
    padding-left: 1.5rem;}