.Cup{
    transition: all .3s ease-out;

    &__Box{
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        align-items: flex-end;
        padding: 4rem 0;

    

        & > :nth-child(1){
            order: 3;
            margin-right: 3rem;
            padding: 4rem 1rem;
        }
        & > :nth-child(2){
            order: 1;
            margin-right: 3rem;
            
        }
        & > :nth-child(3){
            order: 2;
            margin-right: 3rem;
            
        }
        & > :nth-child(4){
            order: 4;
            margin-right: 3rem;
            
        }
        & > :nth-child(5){
            order: 5;
            margin-right: 0;
        }
    }

    // &__cfai{
    //     opacity: 1;

    //     & a{
    //         background-color: #71d78a;
    //         background-image: linear-gradient(to right, #71d78a, #71d78a);

    //         &:hover{
    //             background-image: linear-gradient(to right, #71d78a, #71d78a);
    //         }
    //     }
    // }
}



.CupCard{
    box-sizing: border-box;
    background-color: whitesmoke;
    flex: 0 1 18rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: .5rem;
    padding: 2rem 1rem;
    box-shadow: 0 0rem 0.5rem rgba(0, 0, 0, 0.3); 
    


    &__Link{
        & p{
            padding: 3rem 0;
        }
    
    
        &__Icon{
            padding-top: 3rem;
            height: 6rem;
    
            & img{
                width: 100%;
                height: 100%;
            }
    
        }
    }


    

    
}