/*background*/
.cfai-cup,
.iufu-cup,
.wscai-cup{
    background-image: url("../../../assets/images/competition.jpg");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;

    & .tocup__link{
        background-color: #fff;
    }
}



.cup{

    

    &__icon{
        height: 6rem;
        padding: 2.5rem 0;

        &--svg{
            width: 100%;
            height: 100%;
        }
    }

    &__text{
        text-transform: uppercase;
        font-size: 1.3rem;
        padding-bottom: .5rem;
        font-weight: 700;
    }

    
}



/*CFAI*/

.cfai-cup {

    & .tocup__link:hover{
        background-color: #71d78a;
    }

    & .cup__link{
        
        &:link,
        &:visited,
        &:active{
            color: #007531;
        }
    }
}

.cup__card{

    background-color: #ededed;

    

    @media screen and (min-width: 56.25em){
        &--perpetual-cup{
            padding: 3rem 0;
            order: 3;
            margin-right: 2rem;
    
            & .cup__icon{
                height: 8rem;
                padding: 2.5rem 0;
        
                &--svg{
                    width: 100%;
                    height: 100%;
                }
            }
        
            &__text{
                font-size: 1.3rem;
                padding-bottom: .5rem;
                font-weight: 700;
            }
        }
        &--challenge-cup{
            order: 1;
            margin-right: 2rem;
        }
        &--eustace-cup{
            order: 2;
            margin-right: 2rem;
        }
        &--plate{
            order: 4;
            margin-right: 2rem;
        }
        &--eustace-shield{
            order: 5;
        }
    }
}


/*IUFU*/
.iufu-cup{

    & .tocup__link:hover{
        background-color: #2a5298;
        color: #fff;
    
        & svg{
            fill: #fff;
        }
    }


    & .cup__link{
        
        &:link,
        &:visited,
        &:active{
            color: #2a5298;
        }
    }
}

.cup__card{

    background-color: #ededed;

    

    @media screen and (min-width: 56.25em){
        &--collingwood-cup{
            padding: 3rem 0;
            order: 3;
            margin-right: 2rem;
    
            & .cup__icon{
                height: 8rem;
                padding: 2.5rem 0;
        
                &--svg{
                    width: 100%;
                    height: 100%;
                }
            }
        
            &__text{
                font-size: 1.3rem;
                padding-bottom: .5rem;
                font-weight: 700;
            }
        }
        &--harding-cup{
            order: 1;
            margin-right: 2rem;
        }
        &--duggan-cup{
            order: 2;
            margin-right: 2rem;
        }
        &--crowley-cup{
            order: 4;
            margin-right: 2rem;
        }
        &--tobeconfirmed-cup{
            order: 5;
        }
    }
}




/*WSCAI*/
.wscai-cup{

    & .tocup__link:hover{
        background-color: #FC6DAB;
    }


    & .cup__link{
        
        &:link,
        &:visited,
        &:active{
            color: #BA265D;
        }
    }
}

.cup__card{

    background-color: #ededed;

    

    @media screen and (min-width: 56.25em){
        &--collingwood-cup{
            padding: 3rem 0;
            order: 3;
            margin-right: 2rem;
    
            & .cup__icon{
                height: 8rem;
                padding: 2.5rem 0;
        
                &--svg{
                    width: 100%;
                    height: 100%;
                }
            }
        
            &__text{
                font-size: 1.3rem;
                padding-bottom: .5rem;
                font-weight: 700;
            }
        }
        &--harding-cup{
            order: 1;
            margin-right: 2rem;
        }
        &--duggan-cup{
            order: 2;
            margin-right: 2rem;
        }
        &--crowley-cup{
            order: 4;
            margin-right: 2rem;
        }
        &--tobeconfirmed-cup{
            order: 5;
        }
    }
}