@import "./styles/base";
@import "./styles/utilities";
@import "./styles/landing";


@import "./styles/header";
@import "./styles/footer";

@import "./styles/league";

@import "./styles/sections";


@import "./styles/specifics/cufl";
@import "./styles/specifics/cfai";
@import "./styles/specifics/iufu";
@import "./styles/specifics/wscai";

@import "./styles/blog/blog";
@import "./styles/blog/singlePost";
@import "./styles/blog/postContent";
@import "./styles/blog/moreStories";

@import "./styles/legalAndPrivacy";
@import "./styles/error";


  .emptymast{
    position: relative;
    z-index: 100;
  }
  .emptymast .landing-masthead__logo--link{
    color: #162a4e;
    height: 100%;
  }
  .emptymast .landing-masthead__logo--link::after{
    color: #333;
  }


  .emptymast .landing-masthead__icon{
    cursor: pointer;
    fill: #162a4ecc;
  }














