@import "./styles/base";
@import "./styles/utilities";
@import "./styles/landing";


@import "./styles/header";
@import "./styles/footer";

@import "./styles/league";

@import "./styles/sections";


@import "./styles/specifics/cufl";
@import "./styles/specifics/cfai";
@import "./styles/specifics/iufu";
@import "./styles/specifics/wscai";

@import "./styles/blog/blog";
@import "./styles/blog/singlePost";
@import "./styles/blog/postContent";
@import "./styles/blog/moreStories";

@import "./styles/legalAndPrivacy";
@import "./styles/error";


/*
.to-blog-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 56.25em) {
    .to-blog-container {
      flex-direction: column; } }
  .to-blog-container > :not(:last-child) {
    margin-right: 2rem; }
    @media screen and (max-width: 56.25em) {
      .to-blog-container > :not(:last-child) {
        margin-right: 0;
        margin-bottom: 2rem; } }
  .to-blog-container__heading {
    display: inline-block;
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center; }
*/



/*
.form-box {
  margin: 5.3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  @media screen and (max-width: 37.5em) {
    .form-box {
      flex-direction: column; } }

.form-futsal {
  flex: 2;
  margin-right: 10rem; }
  @media screen and (max-width: 37.5em) {
    .form-futsal {
      margin-right: 0; } }

.form-futsal {
  padding-top: 3rem; }

.form__image {
  height: 30rem;
  overflow: hidden;
  margin-bottom: 6rem; }
  .form__image--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 80%; }

.form__group:not(:last-child) {
  margin-bottom: 6rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(245, 245, 245, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  @media screen and (max-width: 31.25em) {
    .form__input {
      width: 87%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(119, 119, 119, 0.1);
    border-bottom: 3px solid #89dd5f;
    background-color: whitesmoke; }
  .form__input:focus:invalid, .form__input:invalid {
    border-bottom: 3px solid red; }
  .form__input::-webkit-input-placeholder {
    color: #777; }

.form__label {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s;
  top: -3rem;
  left: 0; }

.form__group {
  position: relative; }
  .form__group select {
    width: 97%;
    box-sizing: border-box; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(4rem); }

.submit-button-btn {
  background-color: #89dd5f; }

.submit-button-p {
  margin-bottom: 2rem; }
  .submit-button-p a:link,
  .submit-button-p a:visited {
    color: #1d7b00;
    transition: all .3s ease-out; }
  .submit-button-p a:hover,
  .submit-button-p a:active {
    color: #89dd5f; }
*/


  .emptymast{
    position: relative;
    z-index: 100;
  }
  .emptymast .landing-masthead__logo--link{
    color: #162a4e;
    height: 100%;
  }
  .emptymast .landing-masthead__logo--link::after{
    color: #333;
  }


  .emptymast .landing-masthead__icon{
    cursor: pointer;
    fill: #162a4ecc;
  }














